body {
  background-color: #000000 !important;
  color: #fff !important;
}
h1{
  font-family: 'Pinyon Script', cursive !important;
}
p, .font{
  font-family: 'M PLUS 1p', sans-serif !important;
}
.cont{

}
.texto{
  color: #c0c0c0 !important;
  font-weight: lighter !important;
}
.title:hover{
  border-bottom: 1px solid;
}
